@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

html {
  font-family: "Courier Prime", monospace;
}

/* Links use accent color */
a:not(.btn) {
  @apply text-secondary underline;
}

a:not(.btn):hover {
  @apply text-secondary/80;
}

h1,
h2 {
  @apply text-primary;
}
