@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui" {
  themes: lofi --default, forest --prefersdark;
  /* root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true; */
}

html {
  font-family: "Courier Prime", monospace;
}
