---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
---

<Layout>
  <Intro />
  <div class="divider divider-start my-12 max-w-7xl mx-auto px-4 lg:px-8"></div>
  <Experience />
  <div class="divider divider-start my-12 max-w-7xl mx-auto px-4 lg:px-8"></div>
  <Projects />
</Layout>
