---
import { getCollection } from "astro:content";
import ProjectTile from "./ProjectTile.astro";

const allProjects = await getCollection("projects");
---

<section class="my-12 w-full mx-auto px-4 lg:px-8">
  <div class="">
    <h2 class="text-3xl font-bold mb-8">Projects</h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      allProjects.map((item: object, index: number) => (
        <div class="hover-3d" id={`project-${index}`}>
          <ProjectTile item={item} />
        </div>
      ))
    }
  </div>
</section>
