<div class="flex items-center gap-2 px-6 py-3 toolbar-item">
  <span class="text-sm">theme: </span>
  <span id="theme-display-text" class="text-sm font-medium whitespace-nowrap"
  ></span>
  <button
    id="theme-switcher-btn"
    class="btn btn-sm btn-outline btn-square h-7 w-7"
    aria-label="Switch theme"
  >
    <svg
      class="w-4 h-4"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"></path>
    </svg>
  </button>
</div>
